In [7]:
# functions udf

# Greet 

def greet():
    print("Hi Welcome to the session")

In [8]:
# calling a function

greet()

Hi Welcome to the session

In [9]:
# Function with parameters

# multiply two numbers

def multiply(x , y):
    return x*y

In [10]:
multiply(2 , 3)

6

In [11]:
# args variable number arguments
def multiply(x , y , z):
    return x*y*z

In [12]:
multiply(2, 3, 4)

24

In [21]:
def multiply(*numbers):
    total = 1
    for number in numbers:
        total *= number
    return total

In [22]:
multiply(2,3,4,5,6)

720

In [23]:
# lambda function 

# lambda parameters : expression 

square = lambda x : x ** 2

square(50)

2500

In [24]:
# Zip function 

first_names = ["Nitesh", "Priyank"]

last_names = ["Kumar" , "Shukla"]

full_names = list(zip(first_names, last_names))

full_names

[('Nitesh', 'Kumar'), ('Priyank', 'Shukla')]

In [26]:
# Map function 

def square(x):
    return x**2

numbers = [2,3,4,5]

squared_numbers =list(map(square, numbers))

squared_numbers

[4, 9, 16, 25]

In [31]:
# claass

class Human:
    def __init__(self, name , age):
        self.name = name
        self.age = age

    def walk(self):
        print(f"{self.name} is walking")

    def talk(self):
        print(f"{self.name} is talking")

In [33]:
h1 = Human("nitesh", 20)

h1.walk()

nitesh is walking

In [34]:
h1 = Human("nitesh", 20)

h1.talk()

nitesh is talking