In [1]:
# Basic syntax in python

print("Hello world")

Hello world

In [3]:
# Intendation

def greet(name):
    print(f"Hello" , {name})

In [4]:
# variable 

first_name = "Nitesh"
last_name = "kumar"
age = 20

In [5]:
print(first_name)
print(last_name)
print(age)

Nitesh
kumar
20

In [7]:
#Basic data types

first_name = "nitesh"
last_name = "kumar"
age = 20
weight = 62.5
isMarried = False

In [8]:
print(age)

20

In [10]:
print(isMarried)

False

In [11]:
type(age)

int

In [12]:
print(type(age))

<class 'int'>

In [15]:
# Arithmetic operators

a = 10
b = 3

print (a + b)
print (a - b)
print (a * b)
print (a / b)  
print (a // b) # floor
print (a ** b) # Exp

13
7
30
3.3333333333333335
3
1000

In [16]:
# Logical Operators

a = True
b = False

print ( a and b)
print ( a or b)
print (not a)

False
True
False

In [19]:
# Comparision operators

a = 10
b = 5

print( a > b)
print ( a == b)
print ( a < b)
print ( a != b)

True
False
False
True

In [20]:
# Assignment operators 

a = 5

a = a+1

print(a)

6

In [21]:
a = 5

a += 1

print(a)

6

In [25]:
# list in python

empty_list =[]

# fruits list 

fruits = ["apple" , "banana" , "mango"]

friends = ["Aditya" , "Arsh" , "Shubham"]

numbers = [ 1, 2, 3, 4, 5]

booleans = [ True, False]

mix = [ "apple" , 24 , True ]

In [26]:
mix

['apple', 24, True]

In [27]:
# Access the items of the list

friends[0]

'Aditya'

In [29]:
# slicing the list 

friends[0:2]

['Aditya', 'Arsh']

In [30]:
friends[:2]

['Aditya', 'Arsh']

In [31]:
friends[0:]

['Aditya', 'Arsh', 'Shubham']

In [32]:
# methods 

friends.append("Rajan") # add at the end of the list

friends

['Aditya', 'Arsh', 'Shubham', 'Rajan']

In [33]:
friends.insert(1,"Nitesh")

friends

['Aditya', 'Nitesh', 'Arsh', 'Shubham', 'Rajan']

In [34]:
friends.remove("Arsh")

friends

['Aditya', 'Nitesh', 'Shubham', 'Rajan']

In [36]:
friends.pop () # remove last

friends

['Aditya', 'Nitesh']

In [38]:
# creating a tuple

empty_tuple = ()

# Fruits

fruits = ("apple" , "banana" , "mango")

numbers = (1, 2, 3, 4 )

mix = ("apple", 23 , 34.5, True)

name = "Nitesh"

In [39]:
type(name)

str

In [40]:
type(numbers)

tuple

In [41]:
fruits[1]

'banana'

In [42]:
fruits[1] = "papaya" # it will not change coz tuple doesnt allow

TypeError: 'tuple' object does not support item assignment