In [1]:
# conditional statement 1- if statement

temprature = 25

if temprature > 20:
    print(" too hot")

 too hot

In [5]:
temprature = 15

if temprature > 20:
    print(" too hot")
else:
    print("its cold outside")

its cold outside

In [6]:
# if - elif and else

temprature = 15

if temprature > 30:
    print(" too hot")
elif temprature > 20:
    print("It's a warm day")
else:
    print("its cold outside")

its cold outside

In [11]:
# Nested condition 

temprature = 13 
weather = "sunny"

if temprature > 15:
    if wheather == "sunny":
        print("It's a sunny day and it's warm")
else:
        print("Its's not a warm day")

Its's not a warm day

In [12]:
# loops 

fruits = ["apple", "mango", "banana"]

for fruit in fruits:
    print(fruit)

apple
mango
banana

In [14]:
numbers = [ 1, 2, 3, 4]

for number in numbers:
    print(number)

1
2
3
4

In [16]:
for number in range (100):
   print(number)

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99

In [17]:
for number in range (101):
   print(number)

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99
100

In [18]:
for number in range (1, 101):
   print(number)

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99
100

In [2]:
course = "Python Programming"

for letter in course:
    print(letter)

P
y
t
h
o
n

P
r
o
g
r
a
m
m
i
n
g

In [1]:
# Nested loop 

sizes = ["small" , "medium" , "large"]
clothes = ["Shirt" , "Pant"]

for size in sizes:
    for cloth in clothes:
        print(size, cloth)

small Shirt
small Pant
medium Shirt
medium Pant
large Shirt
large Pant

In [3]:
# using whille loop

number = 10

while number > 0:
    print(number)
    number -= 1

10
9
8
7
6
5
4
3
2
1

In [4]:
# Break 
number = 10

while number > 0:
    if number == 4:
        break
    print(number)
    number -= 1

10
9
8
7
6
5